@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

h1 {
  font-size: 3.5em;
}

img {
  width: 100%;
}

section {
  color: rgba(255, 255, 255, 0.5);
  p {
    font-size: 1.2em;
  }
  .bg-costume {
    background-color: #343a40;
    border: none;
    border-radius: 2px;
  }
  .p-costume {
    font-size: 1em;
  }
  .btn-costume {
    width: 80px;
    border-radius: 2px;
    letter-spacing: 0.1em;
  }
  .form-check-input {
    width: 2em;
    height: 2em;
  }
  .form-check {
    .form-check-input {
      float: none;
      border-radius: 0px;
      background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
    }
  }
  .form-check-label {
    vertical-align: -webkit-baseline-middle;
    margin-left: 0.5em;
  }
}
